.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #28A9D5 ;
    font-size: 50px;
}

.body {
    background-color: white;
    
}


.question {
    font-family: Arial, Helvetica, sans-serif;
    color: #64483E;
    font-weight: 300;
    font-size: 25px;
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.answer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 25px;
    background-color:#ADDAE9 ;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}